*,
*::before
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fs-h1: 1.5rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
  --fs-x1: 4.5rem;
  --clr-light: #FFF;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-image: url('../external-src/Mars.jpg');
  background-size: cover; // enlarges to size of container
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light)
}

h1, h2, h3 { 
  line-height: 1;
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
}

.section-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bolds);
  margin: 0;
}

.section-title--date {
  font-size: var(--fs-x1);
}

.mars-current-weather {
  background: rgba(0,0,0,0.7);
  padding: 2em;
  max-width: 1000px;
  margin: 4em 0 0 4em;
}

