*,
*::before
*::after {
  box-sizing: border-box;
}

:root {
  // globally available variables as are under the root component
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700; 
  --fs-h1: 1.5rem;
  --fs-h2: 2rem;
  --fs-h0: 1rem;
  --fs-body: 1rem;
  --fs-x1: 4.5rem;
  --clr-light: #FFF;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-image: url('../external-src/Mars.jpg');
  background-size: cover; // enlarges to size of container
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light)
}

h1, h2, h3 { 
  line-height: 1;
}

a {
  color: var(--clr-accent);

  &:hover {
    color: var(--clr-accent-dark)
  }
}
.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;

  grid-column: 1 / -1; // extends title from one side of grid to the other
}

.section-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  margin: 0;
}

.section-title--date {
  font-size: var(--fs-x1);
}

.reading {
  font-size: var(--fs-h1);
  margin: 0;
  color: var(--clr-gray);
}

.mars-current-weather {
  background: rgba(0,0,0,0.7);
  padding: 2em;
  max-width: 1000px;
  margin: 4em 0 0 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr); // sets grid template for weather div
  grid-gap: 2em; // adds spacing around gridlines,s
}

.date {
  grid-column: 1 / 2; // start at line 1 and go to line 2 in grid

  &__day {
    font-size: var(--fs-h2);
    margin: 0;
    color: var(--clr-gray);
    font-weight: var(--fw-light);
  }
}

.temperature {
  --border: solid .25em var(--clr-accent-dark); // var is local to .temp and its children, not available globally
  grid-column: 2 / 3; // start line 2 to line 3
  border-left: var(--border);
  border-right: var(--border);
  padding-left: 2em;
}

.wind {
  grid-column: 3 / 4; //  start line 3 to line 4
  display: grid;
  // grid-auto-flow: dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  align-self: start;

  .section-title, .reading {
    grid-column: 2 / 3;
  }

  &__direction {
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    display: grid;
    place-items: center; // centers triangle in the circle
    grid-row: 1 / span 2; // takes up 1 row and spanning 2 coloumns
  }

  &__arrow {
    // update custom props in JS to update the arrow direction
    --direction: 0deg;
    --size: 1rem;
    height: calc(var(--size) * 3);
    width: var(--size);
    background: var(--clr-accent-dark);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%); // changes polygon to triagle shape // can use generator for this
    transform: translateY(-50%) rotate(var(--direction));
    transform-origin: bottom center; // allows dial to rotate around centre of the circle
  }
}

.info {
  grid-column: 1 / 3;
}

.unit {
  grid-column: 3 / 4;
  place-self: end;
  color: var(--clr-light);
  display: flex;
  opacity: .7;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }

  label {
    cursor: pointer;
  }

  input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &__toggle {
    cursor: pointer;
    width: 4em;
    border: 2px solid var(--clr-light);
    background: transparent;
    padding: 0;
    border-radius: 100vmax;
    margin: 0 0.5em;


    &::after {
      content: '';
      background: var(--clr-light);
      border-radius: 50%;
      height: 1rem;
      display: block;
      margin: 3px;
      margin-left: auto;
      width: 1rem;

    }
  }

  :checked ~ .unit__toggle::after {
      margin-left: 3px;
  }
}

.previous-weather {
  background: var(--clr-light);
  color:var(--clr-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(60%);
  transition: transform 350ms ease;
  padding: 3rem;
  border: 0;
}

.show-previous-weather {
  position: absolute;
  background: var(--clr-light);
  left: 50%;
  width: 10rem;
  transform: translate(-50%, calc(-100% - 2.9rem));
  text-align: center;
  font-size: var(--fs-h1);
  line-height: 1;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  color: var(--clr-gray);
  border: 0;
  font-family: inherit;

  &:hover,
  &:focus {
    color: var(--clr-dark);
    outline: none;
  }

  span {
    display: block;
    transform: rotate(0);
    transition: transform 200ms ease;
    font-size: var(--fs-h1);
    line-height: 1.5;
  }
}

.previous-days {
  display: flex;
  justify-content: space-between;
}

.show-weather.previous-weather {
    transform: translateY(0);

    .show-previous-weather span {
      display: block;
      transform: rotate(180deg);

    }
}

