*,
*::before
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fs-h1: 1.5rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
  --fs-x1: 4.5rem;
  --clr-light: #FFF;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  // background-image: TODO
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light)
}